{% extends 'base.html' %}

{% block title %}
    {{ request.user.first_name }}'s saved tricks 
{% endblock %}


{% block content %}
    {% for trick in saved_tricks %}
        <div class="saved_trick_card" style="width: 300px; height: 350px; border: 3px; border-style: dashed; border-color:violet; display:inline-block;">
            <h6>{{ trick.title }}</h6>
            <p>👤 By : {{ trick.trick.creator.username }}</p>
            <p>🎮 For : {{ trick.trick.game.title }}</p>
            <a href="{% url 'tricks:show_trick' trick.trick.id %}"><button type="button" class="btn btn-info">👁️</button></a>
            <a href="{% url 'dashboard:delete_saved_trick' trick.trick.id %}"><button type="button" class="btn btn-danger">🗑️</button></a>
        </div>
    {% endfor %}
{% endblock %}