{% extends 'base.html' %}

{% block title %}
    {{ trick.title }}
{% endblock %}


{% block content %}
    <div>
        <h1>{{ trick.title }}</h1>
        <hr>
        <p>
            {{ trick.description }}
        </p>

        <h4>👤 By : {{ trick.creator.username }}</h4>
        <h4>⏰ At : {{ trick.createdAt.date }}</h4>
    </div>

    <hr>
    
    <div id="manage_trick">
        <h5>Manage Trick </h5>
        {% if request.user.username == trick.creator.username %}
            <a href="{% url 'tricks:delete_trick' trick.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
            <a href="{% url 'tricks:update_trick' trick.id %}"><button type="button" class="btn btn-primary">Update</button></a>
        {% endif %}

    </div>
{% endblock %}